body {
  background-color: black;
  color: gold;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

header {
  border-bottom: 2px solid gold;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; color: orange; }
p  { font-size: 18px; }

button {
  background-color: gold;
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
